TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
TELEGRAM_MESSAGE_THREAD_ID=""
TELEGRAM_DISABLE_NOTIFICATION="0"
TELEGRAM_SOURCE_ROUTING="{\"bbc\":{\"chatId\":\"-100123456\"},\"wsj\":{\"chatId\":\"-100234567\",\"threadId\":\"12\"}}"
TELEGRAM_DISABLE_DEFAULT_PUSH="0"
RESEND_API_KEY=""
EMAIL_FROM="China News <onboarding@resend.dev>"
EMAIL_TO=""
EMAIL_CC=""
EMAIL_BCC=""
EMAIL_REPLY_TO=""
EMAIL_SUBJECT_PREFIX="[China News]"
WEBHOOK_URLS="[]"
WEBHOOK_HEADERS_JSON="{}"
WEBHOOK_SIGNING_SECRET=""
